<div class="prism-example" *ngIf="example">

	<h3 class="prism-example__name">{{example.name}}</h3>

	<div class="prism-example__description" [innerHTML]="description | async | responseText"></div>

	<div class="prism-example__source" [innerHTML]="source | async | responseText | formatMarkup"></div>

	<ng-container *ngIf="example.sourceUrl">
		<iframe [src]="example.sourceUrl | safeUrl"
				width="100%"
		></iframe>
		<ng-container *ngIf="model.breakpoints">
			<iframe [src]="example.sourceUrl | safeUrl"
					*ngFor="let breakpoint of model.breakpoints"
					[width]="breakpoint"
			></iframe>
		</ng-container>
	</ng-container>

</div>
