<div class="prism-category-list">

	<div class="btn-group" dropdown>
		<button id="category-selector-button" type="button" class="btn btn-primary" dropdownToggle>
			{{activeCategory?.name}}
			<ng-container *ngIf="!activeCategory">Overview</ng-container>
			<span class="caret"></span>
		</button>
		<ul dropdownMenu role="menu" aria-labelledby="category-selector-button">
			<li role="menuitem"
				[ngClass]="{'disabled': !activeCategory}"
			>
				<a class="dropdown-item"
				   routerLink="/guide/overview"
				>Overview</a>
			</li>
			<li class="divider dropdown-divider"></li>
			<li role="menuitem" *ngFor="let category of categories"
				[ngClass]="{'disabled': category === activeCategory}"
			>
				<a class="dropdown-item"
				   routerLink="/guide/category/{{category.name}}"
				   *ngIf="category"
				>{{category.name}}</a>
			</li>
		</ul>
	</div>

</div>
